:root{
    --primary: #00E866;
    --secondary: #007A37;
    --accent: #007A35;
    --whitecustom: #D8F2E1;
    --blackcustom: #003B1A;
}

.active{
    background-color: white!important;
    color: green!important;
    transform: scale(1)!important;
    border-radius: 5%;
}

h1{
    font-family: 'Big Shoulders Inline Text', cursive;
    color: white;
    font-size: 100px;
}

.icona{
    color: white;
}

.headergreen{
    background-image: url('/public/media/sfondogreen_presto.png');
}

@media only screen and (max-width: 600px) {
    h1 {
      font-size: 30px;
    }
}

